@import './constants';
@import '../node_modules/normalize.css/normalize';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500');

// ***** Mixin *****

// See: https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// ***** General Style *****
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-color;
  font-family: $heading-font-family;

  small {
    color: $headings-small-color;
    font-weight: 500;
  }
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $dark-blue;
  }
}

blockquote,
p {
  color: $paragraph-color;
  line-height: 1.5em;
  margin: $paragraph-margin;
}

figure {
  margin: 0;

  figcaption {
    color: $legend-caption-color;
    font-family: $heading-font-family;
    font-size: $fig-caption-font-size;
    font-weight: 500;
    line-height: 1.5em;
    margin: .5em 0;
  }
}

img,
video {
  object-fit: cover;
  object-position: 50% 50%;
}

aside {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 500;
}

article:not(:last-child) {
  border-bottom: 1px solid $article-border-color;
  margin-bottom: $article-margin-bottom;
}

// ***** Generic Classes *****
.light {
  color: $white;
}

.full-page {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 10px $black;
  width: 100vw;

  > .caption {
    font-size: 1.7em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &,
    * {
      color: $white;
    }
  }

  > img,
  > video {
    @include vendor-prefix(user-select, none);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-touch-callout: none;
    width: 100vw;
    z-index: -1;
  }
}

.media-wrapper {
  display: flex;
  justify-content: space-between;
  margin: $media-wrapper-margin;

  > .media {
    flex: 1;

    img,
    video {
      width: 100%;
    }
  }

  .media + .media {
    margin-left: $media-wrapper-margin-item;
  }
}

// ***** Page *****
main,
footer {
  margin: $main-margin;
  max-width: $max-main-width;
  padding: $main-padding;
}


main {
  .full-page {
    left: calc(-1 * (100vw - #{$max-main-width}) / 2 - #{$main-left-right-padding});
    margin: $full-page-margin;
  }

  .media-wrapper {
    margin-left: -1 * ($max-media-wrapper-width - $max-main-width) / 2 - $main-left-right-padding;
    width: $max-media-wrapper-width;
  }
}

footer {
  border-top: 1px solid $footer-border-color;
  font-family: $heading-font-family;
  font-size: $footer-font-size;
  margin-top: $footer-margin-top;

  p {
    color: $footer-paragraph-color;
  }
}

// ***** Mobile *****
@media screen and (max-width: $max-media-wrapper-width) {
  main .media-wrapper {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: $max-main-width) {
  main .full-page {
    left: -1 * $main-left-right-padding;
  }
}

@media screen and (max-width: $large-screen) {
  body {
    font-size: $medium-large-screen-font-size;
  }
}

@media screen and (max-width: $medium-screen) {
  body {
    font-size: $small-medium-screen-font-size;
  }
}
